h2 dashboard

script#table-template(type="text/html")
  |table
  |  each record, index in hits.hit
  |    tr
  |      td= index
  |      td= record.id
  |      td
  |    each value, columnName in record.data
  |      tr
  |        td
  |        td= columnName
  |        td= value

form.search
  input(type="text", name="query", value="tokyo")
  input(type="submit", value="Search")

table#results
