doctype 5
html
  head
    title Groonga CloudSearch
    script(src="/js/jquery-1.8.1.min.js", type="text/javascript")
    script(src="/js/runtime.min.js", type="text/javascript")
    script(src="/js/handlebars-1.0.rc.1.js", type="text/javascript")
    script(src="/js/ember-latest.js", type="text/javascript")
    script(src="/js/gcs.js", type="text/javascript")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/gcs.css", rel="stylesheet")

    script(data-template-name="application", type="text/x-handlebars")
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            <a class="brand" href {{action showIndex}}>Groonga CloudSearch</a>
            ul.nav
              li <a href {{action showIndex}}>Home</a>
      .container
        .row
          .span2
            .well(style="padding: 10px 0 10px 0;")
              ul.nav.nav-list
                li.nav-header Domains
                {{#each App.domains}}
                li <a href {{action showDomain this}}>{{name}}</a>
                ul.nav.nav-list
                  li <a href {{action showSearch this}}>search</a>
                {{/each}}
          .span10
            {{outlet}}

    script(data-template-name="index", type="text/x-handlebars")
      h1 Global Configuration
      table.table.table-bordered
        tbody
          tr
            th Configuration Endpoint
            td {{App.Domain.configurationEndpoint}}

    script(data-template-name="domain", type="text/x-handlebars")
      h1 Domain '{{name}}'

      table.table.table-bordered
        tbody
          tr
            th Search Endpoint
            td {{searchEndpoint}}
          tr
            th Fields
            td
              ul
                {{#each fieldNames}}
                li {{this}}
                {{/each}}
      {{outlet}}

    script(data-template-name="search", type="text/x-handlebars")
      h1 Search domain '{{domain.name}}'
      {{#view App.SearchFormView}}
      {{view Ember.TextField valueBinding="query"}}
      input(type="hidden", name="start", value="")
      button(type="submit", class="btn") Search
      {{/view}}

      p
        span Query: 
        strong {{query}}

      p View raw:
        <a target="_blank" {{bindAttr href="urlForRawRequest"}}>{{urlForRawRequest}}</a>

      {{#if searched}}
      {{#if resultsAvailable}}
      .alert.alert-info Showing {{numStart}} to {{numEnd}} of {{numHits}} results
      {{else}}
      .alert.alert-info Record not found
      {{/if}}
      {{/if}}

      {{#if resultsAvailable}}
      //- DOM structure of this table seems to be broken. The issue https://github.com/wycats/handlebars.js/issues/184 may be related with this.
      ul.pager
        {{#if previousPageAvailable}}
        li.previous
          <a class="previous" {{action previousPage}}>&larr; Previous</a>
        {{else}}
        li.previous.disabled
          a &larr; Previous
        {{/if}}
        {{#if nextPageAvailable}}
        li.next
          <a class="next" {{action nextPage}}>Next &rarr;</a>
        {{else}}
        li.next.disabled
          a Next &rarr;
        {{/if}}

      table.table.table-bordered
        tbody
          {{#each controller}}
          tr.id-row
            td {{index}}
            td.id-cell(colspan=2) {{id}}
          {{#each data}}
          tr
            td
            td {{columnName}}
            td {{value}}
          {{/each}}
          {{/each}}
      {{/if}}
  body
