doctype 5
html
  head
    title Groonga CloudSearch
    script(src="/javascripts/jquery-1.7.2.min.js", type="text/javascript")
    script(src="/javascripts/runtime.min.js", type="text/javascript")
    script(src="/javascripts/gcs.js", type="text/javascript")
    script(src="/javascripts/templates.js", type="text/javascript")
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/gcs.css", rel="stylesheet")

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Groonga CloudSearch
          form.navbar-form.pull-right#domain
            select(id="domain-and-id", name="domain-and-id")
          p.navbar-text.pull-right Domain:
    .container
      .row
        .span12
          != body
