doctype 5
html
  head
    title Groonga CloudSearch
    script(src="/javascripts/jquery-1.7.2.min.js", type="text/javascript")
    script(src="/javascripts/gcs.js", type="text/javascript")
  body
    h1 Groonga CloudSearch
    != body
