p#showing
.pager#pager
  li.previous
    a(href="#") &larr; Previous
  li.next
    a(href="#") Next &rarr;
table.table.table-bordered
  if hits.hit.length > 0
    each record, index in hits.hit
      tr.id-row
        td= hits.start + index + 1
        td.id-cell(colspan="2")= record.id
      each value, columnName in record.data
        tr
          td
          td= columnName
          td= value
  else
    tr
      td No record matched for the query.
